<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shiro.study.mapper.SysUserMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.example.shiro.study.domain.SysUser">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="usercode" property="usercode" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="locked" property="locked" jdbcType="VARCHAR"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        usercode,
        username,
        `password`,
        salt,
        locked
    </sql>

    <!--auto generated Code-->
    <insert id="insert">
        INSERT INTO sys_user (
            id,
            usercode,
            username,
            password,
            salt,
            locked
        ) VALUES (
            #{sysUser.id,jdbcType=VARCHAR},
            #{sysUser.usercode,jdbcType=VARCHAR},
            #{sysUser.username,jdbcType=VARCHAR},
            #{sysUser.password,jdbcType=VARCHAR},
            #{sysUser.salt,jdbcType=VARCHAR},
            #{sysUser.locked,jdbcType=VARCHAR}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" >
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysUser.id!=null"> id,</if>
            <if test="sysUser.usercode!=null"> usercode,</if>
            <if test="sysUser.username!=null"> username,</if>
            <if test="sysUser.password!=null"> `password`,</if>
            <if test="sysUser.salt!=null"> salt,</if>
            <if test="sysUser.locked!=null"> locked,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysUser.id!=null">#{sysUser.id,jdbcType=VARCHAR},
            </if>
            <if test="sysUser.usercode!=null">#{sysUser.usercode,jdbcType=VARCHAR},
            </if>
            <if test="sysUser.username!=null">#{sysUser.username,jdbcType=VARCHAR},
            </if>
            <if test="sysUser.password!=null">#{sysUser.password,jdbcType=VARCHAR},
            </if>
            <if test="sysUser.salt!=null">#{sysUser.salt,jdbcType=VARCHAR},
            </if>
            <if test="sysUser.locked!=null">#{sysUser.locked,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO sys_user (
            id,
            usercode,
            username,
            `password`,
            salt,
            locked
        )VALUES
        <foreach collection="sysUsers" item="sysUser" index="index" separator=",">
            (
            #{sysUser.id,jdbcType=VARCHAR},
            #{sysUser.usercode,jdbcType=VARCHAR},
            #{sysUser.username,jdbcType=VARCHAR},
            #{sysUser.password,jdbcType=VARCHAR},
            #{sysUser.salt,jdbcType=VARCHAR},
            #{sysUser.locked,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE sys_user
        <set>
            <if test="sysUser.usercode != null"> usercode= #{sysUser.usercode,jdbcType=VARCHAR},</if>
            <if test="sysUser.username != null"> username= #{sysUser.username,jdbcType=VARCHAR},</if>
            <if test="sysUser.password != null"> `password`= #{sysUser.password,jdbcType=VARCHAR},</if>
            <if test="sysUser.salt != null"> salt= #{sysUser.salt,jdbcType=VARCHAR},</if>
            <if test="sysUser.locked != null"> locked= #{sysUser.locked,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{sysUser.id,jdbcType=VARCHAR}
    </update>

<!--auto generated by MybatisCodeHelper on 2019-07-03-->
    <select id="findByUsercode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SysUser
        where usercode=#{usercode,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2019-07-03-->
    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where id=#{id,jdbcType=VARCHAR}
    </select>


</mapper>

